@media screen and (324px <= width <= 833px){
	.header{
		padding: 10px;
		background-color: #66BE71;
		font-family: "Koulen";
		color: white;
		margin-right: 0px;
		text-align: center;
		font-size: 2em;
		letter-spacing: 5px;
		margin-top: 0px;}
	.title{
		font-family: "Koulen";
		color: #434343;
		text-align: center;
		font-size: 1em;
		margin-top: 50px;
		letter-spacing: 2px;
	}
	h1{
		border: 0px;
		margin: 0px;
	}

	.main{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	
	.fork{
		margin: auto;
		scale: 25%;
	}
	.wheel{
		margin: auto;
		scale: 40%;
	}
	.spoon{
		margin: auto;
		scale: 25%;
	}	
}

@media screen and (834px <= width <= 1279px) {
	.header{
		padding: 10px;
		background-color: #66BE71;
		font-family: "Koulen";
		color: white;
		margin-right: 0px;
		text-align: center;
		font-size: 2em;
		letter-spacing: 5px;
		margin-top: 0px;}
	.title{
		font-family: "Koulen";
		color: #434343;
		text-align: center;
		font-size: 2em;
		margin-top: 50px;
		letter-spacing: 2px;
	}
	h1{
		border: 0px;
		margin: 0px;
	}

	.main{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.fork{
		margin: auto;
		height: 80%;
	}
	.wheel{
		height: 80%;
	}
	.spoon{
		margin: auto;
		height: 80%;
	}

}
@media screen and (width >= 1280px) {
	.header{
		padding: 10px;
		background-color: #66BE71;
		font-family: "Koulen";
		color: white;
		margin-right: 0px;
		text-align: center;
		font-size: 2em;
		letter-spacing: 5px;
		margin-top: 0px;}
	.title{
		font-family: "Koulen";
		color: #434343;
		text-align: center;
		font-size: 2em;
		margin-top: 50px;
		letter-spacing: 2px;
	}
	h1{
		border: 0px;
		margin: 0px;
	}

	.main{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.fork{
		margin: auto;
		height: 80%;
	}
	.wheel{
		height: 80%;
	}
	.spoon{
		margin: auto;
		height: 80%;
	}

}