@media screen and (320px <=width <834px) {
	body {
		background-image: url(../images/Table.svg);
		background-position: 50% 200px;
		background-size: 280%;
		background-repeat: no-repeat;
	}

	.header {
		padding: 5%;
		background-color: #66BE71;
		font-family: "Koulen";
		color: white;
		margin-right: 0px;
		text-align: center;
		font-size: 1em;
		letter-spacing: 5px;
		margin-top: 0px;
	}

	.title {
		font-family: "Koulen";
		color: #434343;
		text-align: center;
		font-size: 1em;
		margin-top: 30px;
		letter-spacing: 2px;
		grid-column: 1 / span 6;
		grid-row: 2 / span 1;
	}

	h1 {
		border: 0px;
		margin: 0px;
	}

	.start {
		display: flex;
		justify-content: center;
		grid-column: 1 / span 6;
		grid-row: 3 / span 2;
	}

	#spin {
		width: 220px;
		height: 200px;
		background: url(../images/start.svg);
		scale: 60%;
		border: none;
		margin-top: -30px;
		transition-duration: 0.4s;
		z-index: 1;
	}

	#spin:hover {
		transform: scale(1.2);
	}

	.main {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(9, 1fr);
		justify-content: center;
		margin-top: -150px;
	}

	.fork {
		margin-top: 150%;
		height: 30%;
		grid-row: 1/span 3;
		grid-column: 1/span 1;
		z-index: 1;
	}

	.spoon {
		margin-top: 150%;
		height: 30%;
		grid-row: 1/span 3;
		grid-column: 9/span 1;
		z-index: 1;
	}

	/* Spin Wheel*/

	.wheel {
		margin-top: 50px;
		width: 100%;
		transition: transform 3s ease-in-out;
		grid-row: 1/ span 3;
		grid-column: 1/span 9;
	}

	.wheelhide {
		display: none;
	}

	/* Blank Plate*/

	.platehide {
		display: none;
	}

	.plate {
		margin-top: 50px;
		width: 100%;
		grid-row: 1/ span 3;
		grid-column: 1/span 9;
	}


	/* Gift Box*/

	.gifthide {
		display: none;
	}

	.gift {
		background: url(../images/gift.svg);
		width: 160px;
		height: 160px;
		scale: 70%;
		border: none;
		transition-duration: 0.4s;
		margin-top: 90%;
		grid-row: 1;
		grid-column: 5/ span 1;
		z-index: 1;
	}

	.gift:hover {
		transform: scale(1.2);
	}

	/* Start Button*/

	.start {
		display: flex;
		justify-content: center;
		grid-column: 1 / span 6;
		grid-row: 3 / span 2;
		z-index: 1;
	}

	#spin {
		width: 220px;
		height: 200px;
		background: url(../images/start.svg);
		border: none;
		margin-top: -10px;
		transition-duration: 0.4s;
	}

	#spin:hover {
		transform: scale(1.2);
	}

}



@media screen and (834px <=width <1280px) {

	body {
		background-image: url(../images/Table.svg);
		background-position: 50% 200px;
		background-size: 280%;
		background-repeat: no-repeat;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(8, 1fr);
	}

	/* Title Bar & Instruction Line */

	.header {
		padding: 5%;
		background-color: #66BE71;
		font-family: "Koulen";
		color: white;
		margin-right: 0px;
		text-align: center;
		font-size: 2em;
		letter-spacing: 5px;
		margin-top: 0px;
		grid-column: 1 / span 6;
		grid-row: 1 / span 1;
	}

	.title {
		font-family: "Koulen";
		color: #434343;
		text-align: center;
		font-size: 2em;
		margin-top: 50px;
		letter-spacing: 2px;
		grid-column: 1 / span 6;
		grid-row: 2 / span 1;
	}

	h1 {
		border: 0px;
		margin: 0px;
	}

	/* Main Part */

	.main {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(9, 1fr);
		justify-content: center;
		margin-top: 30px;
		scale: 100%;
		grid-column: 1 / span 6;
		grid-row: 3/ span 9;
	}

	/* Main Part  Element*/

	.fork {
		margin-top: 50%;
		height: 60%;
		grid-row: 1/span 3;
		grid-column: 1/span 1;
		z-index: 1;
	}

	.spoon {
		margin-top: 50%;
		height: 60%;
		grid-row: 1/span 3;
		grid-column: 9/span 1;
		z-index: 1;
	}

	/* Spin Wheel*/

	.wheel {
		margin-top: 50px;
		height: 818px;
		width: 100%;
		transition: transform 3s ease-in-out;
		grid-row: 1/ span 3;
		grid-column: 1/span 9;
	}

	.wheelhide {
		display: none;
	}

	/* Blank Plate*/

	.platehide {
		display: none;
	}

	.plate {
		margin-top: 50px;
		height: 818px;
		width: 100%;
		transition: transform 3s ease-in-out;
		grid-row: 1/ span 3;
		grid-column: 1/span 9;
	}

	/* Gift Box*/

	.gifthide {
		display: none;
	}

	.gift {
		background: url(../images/gift.svg);
		width: 160px;
		height: 160px;
		border: none;
		transition-duration: 0.4s;
		grid-row: 2/ span 1;
		grid-column: 5/ span 1;
		z-index: 1;
	}

	.gift:hover {
		transform: scale(1.2);
	}

	/* Start Button*/

	.start {
		display: flex;
		justify-content: center;
		grid-column: 1 / span 6;
		grid-row: 3 / span 2;
		z-index: 1;
	}

	#spin {
		width: 220px;
		height: 200px;
		background: url(../images/start.svg);
		border: none;
		margin-top: -10px;
		transition-duration: 0.4s;
	}

	#spin:hover {
		transform: scale(1.2);
	}


	/*order button*/
	.results {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: repeat(10, 1fr);
		grid-row: 1/ span 3;
		grid-column: 1/span 9;
	}

	.resultshide {
		display: none;
	}

	#order {
		border: #4F8A57 6px solid;
		border-radius: 70px;
		font-family: "Kaushan Script", cursive;
		background-color: #66BE71;
		color: white;
		font-size: 2em;
		padding: 20px;
		grid-row: 4/span 1;
		grid-column: 3/span 5;
		transition-duration: 0.4s;
	}

	#resetdish {
		border: #F7B60E 6px solid;
		border-radius: 70px;
		font-family: "Koulen";
		margin-top: 20px;
		background-color: #F1E363;
		color: black;
		font-size: 1.5em;
		padding: 20px;
		grid-row: 5/span 1;
		grid-column: 3/span 2;
		transition-duration: 0.4s;
	}

	#resetall {
		border: #F70E0E 6px solid;
		border-radius: 70px;
		font-family: "Koulen";
		margin-top: 20px;
		background-color: #F17D63;
		color: black;
		font-size: 1.5em;
		padding: 20px;
		grid-row: 5/span 1;
		grid-column: 6/span 2;
		transition-duration: 0.4s;
	}

	#order:hover {
		transform: scale(1.2);
	}

	#resetdish:hover {
		transform: scale(1.2);
	}

	#resetall:hover {
		transform: scale(1.2);
	}


}

@media screen and (width >=1280px) {


	body {
		background-image: url(../images/Table.svg);
		background-position: 50% 200px;
		background-size: 150%;
		background-repeat: no-repeat;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(10, 1fr);
	}

	/* Title Bar & Instruction Line */

	.header {
		padding: 20px;
		background-color: #66BE71;
		font-family: "Koulen";
		color: white;
		margin-right: 0px;
		text-align: center;
		font-size: 2em;
		letter-spacing: 5px;
		margin-top: 0px;
		grid-column: 1 / span 6;
		grid-row: 1 / span 1;
	}

	.title {
		font-family: "Koulen";
		color: #434343;
		text-align: center;
		font-size: 2em;
		margin-top: 50px;
		letter-spacing: 2px;
		grid-column: 1 / span 6;
		grid-row: 2 / span 1;
	}

	h1 {
		border: 0px;
		margin: 0px;
	}

	/* Main Part */

	.main {
		display: grid;
		grid-template-rows: 1;
		grid-template-columns: 3;
		justify-content: center;
		margin-top: 30px;
		scale: 100%;
		grid-column: 1 / span 6;
		grid-row: 3/ span 9;
	}

	/* Main Part  Element*/

	.fork {
		height: 60%;
		grid-row: 1;
		grid-column: 1;
	}

	.spoon {
		height: 60%;
		grid-row: 1;
		grid-column: 3;
	}

	/* Spin Wheel*/

	.wheel {
		height: 80%;
		transition: transform 3s ease-in-out;
		grid-row: 1;
		grid-column: 2;
	}

	.wheelhide {
		display: none;
	}

	/* Blank Plate*/

	.platehide {
		display: none;
	}

	.plate {
		height: 845.9px;
		margin-top: 3%;
		grid-row: 1;
		grid-column: 2;
	}

	/* Gift Box*/

	.gifthide {
		display: none;
	}

	.gift {
		background: url(../images/gift.svg);
		margin-top: 320px;
		margin-left: 40%;
		width: 160px;
		height: 160px;
		border: none;
		transition-duration: 0.4s;
		grid-row: 1;
		grid-column: 2;
		z-index: 1;
	}

	.gift:hover {
		transform: scale(1.2);
	}

	/* Start Button*/

	.start {
		display: flex;
		justify-content: center;
		grid-column: 1 / span 6;
		grid-row: 3 / span 2;
		z-index: 1;
	}

	#spin {
		width: 220px;
		height: 200px;
		background: url(../images/start.svg);
		border: none;
		margin-top: -10px;
		transition-duration: 0.4s;
	}

	#spin:hover {
		transform: scale(1.2);
	}

	/*order button*/

	.results {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: repeat(10, 1fr);
		grid-row: 1;
		grid-column: 2;
	}

	.resultshide {
		display: none;
	}

	#order {
		border: #4F8A57 6px solid;
		border-radius: 70px;
		font-family: "Kaushan Script", cursive;
		background-color: #66BE71;
		color: white;
		font-size: 2em;
		padding: 20px;
		grid-row: 4/span 1;
		grid-column: 3/span 5;
		transition-duration: 0.4s;
	}

	#resetdish {
		border: #F7B60E 6px solid;
		border-radius: 70px;
		font-family: "Koulen";
		margin-top: 20px;
		background-color: #F1E363;
		color: black;
		font-size: 1.5em;
		padding: 20px;
		grid-row: 5/span 1;
		grid-column: 3/span 2;
		transition-duration: 0.4s;
	}

	#resetall {
		border: #F70E0E 6px solid;
		border-radius: 70px;
		font-family: "Koulen";
		margin-top: 20px;
		background-color: #F17D63;
		color: black;
		font-size: 1.5em;
		padding: 20px;
		grid-row: 5/span 1;
		grid-column: 6/span 2;
		transition-duration: 0.4s;
	}

	#order:hover {
		transform: scale(1.2);
	}

	#resetdish:hover {
		transform: scale(1.2);
	}

	#resetall:hover {
		transform: scale(1.2);
	}

}
